.topo {
    height: 200px;
    background-color: #99ffd4;
    display: grid;
    grid-template-columns: 325px auto auto;
}
.topo_esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.img_logo {
    width: 155px;
    border: 2px solid #ffee00;
    border-radius: 15px;
    padding: 3px;
    transition: transform 0.3s ease-in-out;
}
.img_logo:hover {
    transform: scale(1.05);
}
.topo_centro{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_banner {
    height: 100%;
    object-fit: contain;
    margin-left: 20px;
}

.topo_direita {
    text-align: right;
    margin-top: 150px;
    margin-right: 60px;
}
/*Icones Usuario | Desejos | Carrinho*/
.icons{
    color: #000;
    font-size: 28px;
    margin-left: 25px;
    transition: transform 0.3s ease-in-out;
}
.icon_cart {
    width: 30px;
    margin-left: 20px;
    transition: transform 0.3s ease-in-out;
    vertical-align: bottom;
}
.icons:hover,
.icon_cart:hover {
    transform: scale(1.15);
}
.tooltip {
    position: relative;
    display: inline-block;
}
/*Texto Flutuante dos Icones*/
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 145%;
    left: 50%;
    margin-left: -48px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*Corpo da Pagina*/
.grid {
    display: grid;
    grid-template-columns: 325px auto; 
}
/*Icone do Menu*/
.carrinho {
    background-image: url("Image/cart_black.png");
    background-repeat: no-repeat;
    background-position: 55px center;
    background-size: 22px 22px;
    margin-bottom: 0px;
    transition: background-color 0.3s, color 0.3s, background-position 0.3s;
}
.carrinho:hover {
    background: #00743e;
    color: #ffffff;
    background-image: url("Image/cart_white.png");
    background-repeat: no-repeat;
    background-position: 55px center;
    background-size: 22px 22px;
    margin-bottom: 0px;
    
}
.carrinho_active{
    background: #00743e;
    color: #ffffff;
    background-image: url("Image/cart_white.png");
    background-repeat: no-repeat;
    background-position: 55px center;
    background-size: 22px 22px;
    display: block;
    margin: 10px;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
}
.menu {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(241,241,241);
    overflow: auto;
}

.menu_link {
    display: block;
    margin: 10px;
    text-decoration: none;
    background-color: #99ffd4;
    color: #000000;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, background-position 0.3s;
}

.menu_link.active {
    background: #00743e;
    color: #ffffff; 
}

.menu_link:hover:not(.carrinho):not(.carrinho_active):not(.seta):not(.seta_active) {
    background: #00743e;
    color: #ffffff; 
}
.submenu_link {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 55px;
    text-decoration: none;
    background-color: #99ffd4;
    color: #000000;
    text-align: center;
    line-height: 45px;
    transition: background-color 0.3s, color 0.3s, background-position 0.3s;
}
.submenu_link.active {
    background: #00743e;
    color: #ffffff; 
}
.submenu_link:hover:not(.carrinho):not(.carrinho_active){
    background: #00743e;
    color: #ffffff;
}
/*Icone de Seta*/
.seta {
    background-image: url("Image/seta.png");
    background-repeat: no-repeat;
    background-position: right 60px center;
    background-size: 17px 16px;
    margin-bottom: 0px;
    transition: background-color 0.3s, color 0.3s, background-position 0.3s;
}
.seta:hover {
    background: #00743e;
    color: #ffffff;
    background-image: url("Image/seta_br.png");
    background-repeat: no-repeat;
    background-position: right 60px center;
    background-size: 17px 16px;
    margin-bottom: 0px;
    
}
.seta.active {
    background: #00743e;
    color: #ffffff;
    background-image: url("Image/seta_br.png");
    background-repeat: no-repeat;
    background-position: right 60px center;
    background-size: 17px 16px;
    margin-bottom: 0px;
}
/*Sybmenu*/
.dropdown {
    position: relative;   
}
.dropdown-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.6s ease;
}
.dropdown:hover .dropdown-content {
    display: contents;
    opacity: 1;
    max-height: 1000px;
}
.corpo {
    width: auto;
    height: auto;
    background-color:rgb(241,241,241);
    padding: 10px;
}
.corpo_usuario {
    display: flex;
    margin-bottom: 300px;
}
.col1e2_usuario {
    flex: 1;
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col1e2_acesso {
    margin: 50px 0 20px 0;
}
.col1e2_texto {
    width: 95%;
    font-size: 16px;
    padding: 15px 0;
    background-color: #99ffd4;
    letter-spacing: 2px;
}
.co1e2_corpo_botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col1e2_botao{
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;
    border: 0;
    padding: 10px 0;
    color: white;
    background: #28a745;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 150%;
}
.col1e2_botao:hover{
    background: #3bc55b;
}
.corpoh1 {
    letter-spacing: 2px;
    margin-left: 10px;
    border: 1px solid #ccc;
    color: #222;
    background: #eee;
    font-size: 18px;
    padding: 15px 0;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;  
}
.corpo_carrinho {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 300px;
    padding: 10px;
}
.lista_carrinho {
    margin: 30px 10px 0 -30px;
}
.div_carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_carrinho > * {
    margin: 10px;
    font-size: 16px;
}
.input_quant{
    width: 50px;
}
.botao_excluir_prod{
    padding: 10px;
    border: 0;
    cursor: pointer;
}
.excluir_prod{
    height: 25px;
}
.excluir_prod:hover{
    opacity: 0.8;
}
.imagem-carrinho {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 150px;
    height: auto;
    margin-right: 10px;
}
.box {
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    border: 1px solid #ccc;
    background: #eee;
    color: #222;
}
.box header {
    padding: 15px 20px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}
.box .info {
    padding: 20px;
    font-size: 16px;
}
.box .info > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
}
.box .info button {
    color: #28a745;
    background: transparent;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
  }
.box footer {
    color: black;
    height: auto;
    padding: 15px 50px;
    background: #ddd;
    font-size: 18px;
    display: flex;
}
.cupom {
    cursor: pointer;
}
.boxButton {
    margin-top: 10px;
    cursor: pointer;
    border: 0;
    padding: 15px 0;
    color: white;
    background: #28a745;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}
.boxButton:hover {
    background: #3bc55b;
}
.valorTotal {
    margin-left: 10px;
}
.corpo_produto {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 65% 35%;
    row-gap: 5px;
    column-gap: 7px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
}
.container_produto {
    margin-top: 50px;
    position: relative;
}
.coluna_produto {
    float: left;
    width: 15%;
    margin: 5px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.slide_produto {
    display: none;
    width: 100%;
    text-align: center;
}
.slide_produto img {
    width: 70%;
    margin: 0 auto;
}
.cursor {
    cursor: pointer;
}
.slideShow {
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.mySlidesImage {
    display:none;
    height: 400px;  
    margin: 0 auto;
}
.barradepesquisa {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 245px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("Image/procurar.png");
    background-size: 20px 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.barradepesquisa:focus {
    width: 98%;
}
.grid_corpo {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    row-gap: 5px;
    column-gap: 7px;
    padding: 10px;
}
.container_exposicao {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 100px;
}
.item_exposicao {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_exposicao img {
    width: 50%
}
.item:nth-child(even) {
    background-color: #f2f2f2;
}
.descricao_produto {
    text-align: center;
}
.descricao_produto p{
    font-size: 14px;
}
.ordenacao_barra{
    text-align: right;
    padding: 15px 0;
    margin: 20px 0 20px 10px;
    background-color: rgb(219, 219, 219)
}
.ordenacao_barra select{
    margin-right: 20px;
}
.item {
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 2px;
}
.img_produto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
}
.texto_produtos {
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-decoration: none;
}
/*Efeito de Texto dos Produtos*/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 97%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ff0000e1;
}
.container {
    position: relative;
}
.container:hover .overlay {
    opacity: 1;
}
/*Pagina Sobre Nos*/
.grid_pag_sobrenos {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    overflow: hidden;
}
.container_sobrenos {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 100px;
}
.img_sobrenos {
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin-left: 20px;
}

/*Pagina de Contato e Formulario*/
.grid_pagcontato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 200px;
}
.grid_pagcontato_dir {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 30px;
}
.container_form {
    width: 85%;
    border-radius: 5px;
    background-color: #e0e0e0;
    padding: 20px;
    margin-top: 30px;
    margin-left: 15px;
}
.formulario {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.formulario:focus {
    border: 2px solid #50fab3;
    outline: none;
}
.formulario_enviar {
    width: 150px;
    float: right;
    background-color: #50fab3;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.formulario_enviar:hover {
    color: #ffffff;
    background-color: #00743e;
}


/*Elementos gerais*/
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:rgb(241,241,241);
}
footer {
    background-color: #353535;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    height: 200px;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: none;
}

/*Link RedeSocial*/
.fa-instagram {
    background: #125688;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 20px;
    height: 20px;
}
.fa-youtube {
    background: #bb0000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 20px;
    height: 20px;
}
.fa-square-facebook {
    background: #3B5998;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 20px;
    height: 20px;
}
.fa-x-twitter {
    background: #000000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 20px;
    height: 20px;
}
.fa-instagram:hover, .fa-youtube:hover, .fa-square-facebook:hover, .fa-x-twitter:hover {
    opacity: 0.6;
}
/*Icone flutuante do whatsapp*/
.whatsapp-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    transition: transform 0.6s;
}

.whatsapp-icon:hover {
    transform: scale(1.20);
}

.whatsapp-icon-img {
    width: 50px;
    height: 50px;
}
/*Pagina em outras resoluções*/
@media (max-width: 768px) {
    .topo {
        height: 200px;
        background-color: #99ffd4;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .img_logo {
        width: 75px;
        border: 2px solid #ffee00;
        border-radius: 15px;
        padding: 3px;
        transition: transform 0.3s ease-in-out;
    }
    .grid {
        display: grid;
        grid-template-columns: auto auto; 
    }
    
}
@media (max-width: 1100px) {
    .img_banner {
        height: 45%;
        object-fit: contain;
        margin-left: 10px;
    }
}